<!-- <div class="container-fluid mt-3" appDnd (fileDropped)="onFileDropped($event)"> -->
<div class="container-fluid mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-4">
      <button class="centered align-items-center w-100 border border-dark rounded-3 pt-3 pb-3" color="basic">
        <div class="d-block">
          <i class="fa-thin fa-cloud-arrow-up fa-3x"></i>
        </div>
        <div class="d-block mt-3">
          <button mat-raised-button color="primary">Hinzufügen</button>
        </div>
      </button>
    </div>
  </div>
</div>

<input type="file" #fileInput class="d-none" multiple />

<h6 class="text-center m-2">Originalname</h6>

<mat-form-field class="w-100" appearance="fill">
  <mat-label>Dateiname</mat-label>
  <input matInput>            
</mat-form-field>

<mat-form-field class="w-100" appearance="fill">
  <mat-label>Dokumententyp</mat-label>
  <mat-select [(value)]="selectedDocType">
    <mat-option>None</mat-option>
    <mat-option value="option1">Sonstiges</mat-option>
    <mat-option value="option1">Kalkulation</mat-option>
    <mat-option value="option1">Kalkulation Sommer</mat-option>
    <mat-option value="option1">Kalkulation Winter</mat-option>
    <mat-option value="option2">Vertrag</mat-option>
    <mat-option value="option3">Vertrag Sommer</mat-option>
    <mat-option value="option3">Vertrag Winter</mat-option>
  </mat-select>
</mat-form-field>

<form class="example-form">
  <mat-form-field class="w-100" appearance="fill">
    <mat-label>Dokumententyp</mat-label>
    <input type="text" matInput [formControl]="docTypeControl" [matAutocomplete]="autoDocType">
    <mat-autocomplete #autoDocType="matAutocomplete">
      <mat-option *ngFor="let option of filteredDocTypes | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<mat-form-field appearance="fill">
  <mat-label>Gültig von - bis</mat-label>
  <mat-date-range-input [rangePicker]="picker">
    <input matStartDate placeholder="Start date">
    <input matEndDate placeholder="End date">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>

<mat-form-field class="w-100" appearance="fill">
  <mat-label>Bemerkung</mat-label>
  <input matInput>            
</mat-form-field>