<div class="slider-frame">
  <div class="options">
    <div imageSlider
      class="option active"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-check"></i>
        </div>
        <div class="info">
          <div class="main">Schwimmbad</div>
          <div class="sub">Hotel</div>
        </div>
      </div>
    </div>

    <div imageSlider
      class="option"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-xmark"></i>
        </div>
        <div class="info">
          <div class="main">A2</div>
          <div class="sub">B2</div>
        </div>
      </div>
    </div>

    <div imageSlider
      class="option"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-xmark"></i>
        </div>
        <div class="info">
          <div class="main">A3</div>
          <div class="sub">B3</div>
        </div>
      </div>
    </div>

    <div imageSlider
      class="option"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-xmark"></i>
        </div>
        <div class="info">
          <div class="main">A3</div>
          <div class="sub">B3</div>
        </div>
      </div>
    </div>

    <div imageSlider
      class="option"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-xmark"></i>
        </div>
        <div class="info">
          <div class="main">A3</div>
          <div class="sub">B3</div>
        </div>
      </div>
    </div>

    <div imageSlider
      class="option"
      style="background-image: url(https://cdn.reisenaktuell.com/images/2309880_78d42e6d8d6c7a6688b6d35d45a4a4aa-957x550-nocrop.jpg);"
    >
      <div class="shadow"></div>
      <div class="label">
        <div class="icon">
          <i stateIcon class="fa fa-xmark"></i>
        </div>
        <div class="info">
          <div class="main">A3</div>
          <div class="sub">B3</div>
        </div>
      </div>
    </div>
  </div>
</div>
