<div class="slider-frame">
  <div class="options" >

    <div imageSlider *ngFor="let image of images; first as isFirst; let idx = index;"
      [ngClass]="{ 'active': isFirst }"
      class="option"
      style="background-image: url({{image.url}});"
    >
      <div class="label">
        <div stateIcon class="icon">
          <i class="fa-solid fa-circle"></i>
        </div>
        <div class="info">
          <div class="main">{{image.title}}</div>
          <div class="sub">{{image.shortDescription}}</div>
        </div>
      </div>
    </div>

  </div>
</div>
