<div style="min-width: 1376px; max-width: 1600px; height: 800px">
  <mat-tab-group>
    <mat-tab label="A">
    <div class="d-flex">
      <col-view name="Kontakt A" class="mx-2"></col-view>
      <col-view name="Kontakt B" class="mx-2"></col-view>
    </div>
    </mat-tab>
    <mat-tab label="B">
      <div class="container-fluid mt-5">
        <div class="row">
          <div class="col-xxl-6 col-12 mb-3">
            <row-view name="Kontakt C"></row-view>
          </div>
          <div class="col-xxl-6 col-12 mb-3">
            <row-view name="Kontakt D"></row-view>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="C">
      <file-view></file-view>
    </mat-tab>
  </mat-tab-group>
</div>


